<section *ngIf="imageList.length>0">
  <ng-container *ngIf="!completedTest; else completedTestTemplate" class="testContainer container">
    <a [routerLink]="['/dashboard']" [queryParams]="{show:'list'}" class="testContainer__anchor"><fa-icon [icon]="faChevronLeft" size="2x"></fa-icon>Home</a>
    <div class="row text-center">
      <h2>Identify the location/Place?</h2>
      <div class="imageContainer p-t-2">
        <img src="{{imageList[index].url}}"/>
      </div>
    </div>
    <div class="choiceContainer row p-t-2">
      <div *ngFor="let options of imageList[index].options">
        <ng-template #showImage>
          <button  class="btn btn-primary" (click)="submit(options.place)">
            {{options.place}}
          </button>
        </ng-template>
        <iframe  *ngIf="(options.place === imageList[index].name) && correctChoice; else showImage" class="choiceContainer__tickMark" src="https://lottiefiles.com/iframe/54054-check-zinli"></iframe>
      </div>
    </div>
  </ng-container>
  <ng-template #completedTestTemplate>
    <div class="text-center">
      <img width="300px" src="./assets/36675-success.gif">
    </div>
    <h1 class="text-center">
        {{correctCount}} / {{imageList.length}}
    </h1>
    <div class="resultbtnContainer">
      <button class="m-t-1 btn btn-light" [routerLink]="['/dashboard']" [queryParams]="{show:'list'}">Home</button>
      <button class="m-t-1 btn btn-primary" (click)="restartTest()">Retry</button>
    </div>
</ng-template>
</section>
