.choiceContainer{
  padding-top: 2rem;
  &__tickMark {
    text-align: center;
    height : 100%;
    width: 250px;
  }
}
button{
  width: 100%;
  font-size: 2rem;
  height: 250px;
}

.m-t-1{
  margin-top:1rem;
}

.resultbtnContainer{
  display: flex;
}

